<ng-container *ngIf="count === 0">
  <button (click)="cartIncrement()" class="add-to-cart" type="button">
    Add to cart
  </button>
</ng-container>

<ng-container *ngIf="count > 0">
  <div class="cart-counter">
    <button (click)="cartDecrement()" class="cart-counter__button" type="button">
      -
    </button>
    <span class="cart-counter__value">{{ count }}</span>
    <button (click)="cartIncrement()" class="cart-counter__button" type="button">
      +
    </button>
  </div>
</ng-container>
