<article class="product-card">
  <a class="product-card__image-link" href="#">
    <img
      class="product-card__image"
      src=""
      alt="Product name"
    />
  </a>

  <div class="product-card__content">
    <a class="product-card__title" href="#">
      Product name
    </a>

    <div class="product-card__meta">
      <span class="product-card__rating">
        <fa-icon [icon]="faStarSolid" /> 4.5
      </span>

      <strong class="product-card__price">$93.50</strong>
    </div>

    <div class="product-card__actions">
      <app-add-to-cart></app-add-to-cart>
      <app-edit-product></app-edit-product>
      <app-delete-product></app-delete-product>
    </div>
  </div>
</article>
