<article class="product-card">
  <a class="product-card__image-link" [routerLink]="['/product', product.id]">
    <img
      class="product-card__image"
      [src]="product.image"
      [alt]="product.title"
    />
  </a>

  <div class="product-card__content">
    <a class="product-card__title"
    [routerLink]="['/product', product.id]"
    >
      {{ product.title }}
    </a>

    <div class="product-card__meta">
      <span class="product-card__rating">
        <fa-icon [icon]="faStarSolid"/>
        {{ product.rating?.rate }}
      </span>

      <strong class="product-card__price">
        {{ product.price | currency: 'USD' }}
      </strong>
    </div>

    <div class="product-card__actions">
      <app-add-to-cart [stock]="product.stock"></app-add-to-cart>
      <app-edit-product></app-edit-product>
      <app-delete-product
        [productId]="product.id"
        (deleteProduct)="onDelete($event)">
      </app-delete-product>
    </div>
  </div>
</article>
