<app-header (searchQueryChange)="onSearchQueryChange($event)"></app-header>

<main class="home-page">
  <app-filters class="filters"></app-filters>

  <section class="products">
    <div class="products__toolbar">
      <h1>Products</h1>
    </div>

    <div class="product__grid">
      <app-product-tile
      *ngFor="let product of products | productFilter: searchQuery"
      [product]="product"
      (deleteProduct)="onDelete($event)">
      </app-product-tile>
    </div>
  </section>
</main>

<app-footer></app-footer>
